@{
    ViewData["Title"] = "Home Page";
}


    <style>
        .HomeImage {
            background-color: #e83e8c;
            background-image: url('/css/1024x768-986045-geometry-cyberspace-digital-art-lines-abstract.jpg');
            background-repeat: no-repeat;
            padding: 200px;
            width:1000px;
            color: white;
        }

    </style>
    <div class="HomeImage" >
        <h2>
           مدار - كشف الرواتب
        </h2>

        <p>
            موقع متكامل لمنظومة كشف الرواتب
        </p>
        

    </div>
    



